@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Borel&family=Carattere&family=Dancing+Script&family=Edu+SA+Beginner&family=Fasthand&family=Noto+Sans+TC:wght@100..900&family=Pacifico&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik+Doodle+Shadow&family=Rubik+Wet+Paint&family=Sacramento&family=Vidaloka&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3d3d3d;
}
.logo {
    font-family: "Vidaloka", serif;
    font-weight: 600;
    font-size: 50px;
}

@media (max-width: 800px){
    .img{
        height: 500px;
    }
}